body {
  margin: 0;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #333;
  margin-left: 25px;
}

a {text-decoration: none;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.world_cup_group {
  display: inline-block;
  margin: 15px;
  background: aliceblue;
}
.world_cup_group > li > label {
  min-width: 100px;
  display: inline-block;
}

.button {
	background-color:#40abcf;
	border-radius:7px;
	border:1px solid #4798cf;
	display:inline-block;
	color:#ffffff;
	cursor:pointer;
	padding:10px 46px;
	text-decoration:none;
	transition: all .2s;
}
.button:hover {
	background-color:#94dfeb;
	color: #1D718D;
}

.score_left {
  width: 20px;
}

.score_right {
  width: 20px;
  margin: 0 10px;
}

.group {
  height: 100px;
  margin: 5px 50px;
  background-color: rgb(196, 235, 238);
}

.group a {font-size: 22px}

.inline_form {
  margin: 15px 0;
  padding: 10px 0;
  background-color: rgb(233, 233, 233);
}

.inline_form li {display: inline-block;}